<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>product</title>
  <style>
    html,
    form,
    tbody,
    body,
    div,
    iframe {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    table {
      width: 100%;
    }

    tr {
      text-align: center;
      display: table-row;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    td {
      margin: 0;
      padding: 0;
      border: 1px solid #3498DB;
    }

    .store {
      text-align: center;
      border-bottom: 1px solid BLACK;
    }

    .header {
      text-align: center;
      background-color: #3498DB;
      padding: 5px;
      font-size: 20px;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
    }
  </style>
  <script>
    function setSize(e) {
      e.style.width = window.innerWidth * 0.32 + 'px';
    }
  </script>
</head>

<body>
  <table>
    <tr class="header" style="height: 8%;">
      <th colspan="3" style="text-align: center;">
        <%=store%>
      </th>
    </tr>
    <tr>
      <td colspan="3">
        <div class="store">판매품목</div>
      </td>
    </tr>
    <%if(isOwner == 1){%>
      <tr>
        <td>
          <button class="db-btn blue round h48" onclick=location.href='<%=writeReviewUrl%>/<%=owner_auth%>'>메뉴 등록하기</button>
        </td>
      </tr>
      <%}%>
        <%for (var i = 0; i < contents.length; i += 3) {%>
      <tr>
            <%if (contents.length - i <= 3) {
        for (var j = 0; j < contents.length - i; j++) {%>
        <td onclick=location.href='<%=productDetailUrl%>/<%=contents[i + j].owner_auth%>/<%=store%>/<%=contents[i + j].number%>'>
          <span><%=contents[i + j].product%></span><br>
          <img src="<%=contents[i + j].product_imgUrl%>" onload="setSize(this)"><br>
          <span><%=contents[i + j].price%>원</span>
          <%if(contents[i + j].sale != null){%><span style="color:red">Event!!</span>
            <%}%>
        </td>
                <%}
        } else {
          for (var j = 0; j < 3; j++) {%>
        <td onclick=location.href='<%=productDetailUrl%>/<%=contents[i + j].owner_auth%>/<%=store%>/<%=contents[i + j].number%>'>
          <span><%=contents[i + j].product%></span><br>
          <img src="<%=contents[i + j].product_imgUrl%>" onload="setSize(this)"><br>
          <span><%=contents[i + j].price%>원</span>
          <%if(contents[i + j].sale != null){%><span style="color:red">Event!</span>
            <%}%>
        </td>
                <%}
      }%>
      </tr>
          <%}%>
  </table>
  <!-- <table>
    <tr class="header" style="height: 8%;">
      <th colspan="3" style="text-align: center;">
        <%=store%>
      </th>
    </tr>
    <tr>
      <td colspan="3">
        <div class="store">판매품목</div>
      </td>
    </tr>
    <tr>
      <td>
        for(var i = 0; i < contents.length; i++) {
          <span><span>
        }
      </td>
    </tr>
  </table> -->

</body>

</html>
