<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <style>
    html,
    form,
    body,
      {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    table,
    tr,
    tbody,
    div {
      width: 100%;
    }

    td {
      margin: 0;
      padding: 0;
    }

    .store {
      text-align: center;
      border-bottom: 1px solid BLACK;
    }

    img {
      width: 100%;
      height: auto;
    }

    .header {
      text-align: center;
      background-color: #3498DB;
      font-size: 20px;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
      height: 8%;
    }
  </style>

  <script type="text/javascript">
    onload = function() {
      var starContainer = document.getElementById('starContainer');
      for (var j = 0; j < <%=score%>; j++) {
        var starTag = document.createElement('span');
        var starText = document.createTextNode("★");
        starTag.style = 'color: yellow';
        starContainer.appendChild(starTag).appendChild(starText);
      }
      for (var j = 5; j > <%=score%>; j--) {
        var starTag = document.createElement('span');
        var starText = document.createTextNode("★");
        starTag.style = 'color: #ccc';
        starContainer.appendChild(starTag).appendChild(starText);
      }
    }
  </script>
</head>

<body>
  <table>
    <tr class="header">
      <td class="title ">
        <%=store%>
      </td>
    </tr>
    <tr style="height : 5% ">
      <td class="store ">
        리뷰
      </td>
    </tr>
    <tr style="height : 10% ">
      <td>
        <h2><%=user_name%></h2></td>
    </tr>
    <tr style="height : 5%">
      <td id="starContainer">
      </td>
    </tr>
    <tr style="height : 20%;">
      <td>
        <div style="height: 100%; overflow:scroll;">
          장점 :
          <%=good%><br> 단점 :
            <%=bad%>
        </div>
      </td>
    </tr>
    <tr class="image" style="height : 40%;">
      <td><img href="<%=reviewImg%>"></td>
    </tr>
    <tr class="hashTag" style="height : 10%;">
      <td></td>
    </tr>
  </table>
</body>

</html>
