<!DOCTYPE html>
<html lang="kr" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <meta charset="UTF-8">
  <style>
    html,
    form,
    body,
    iframe {
      height: 99%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    table,
    tbody {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    tr {
      text-align: center;
      display: table-row;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    td,
    h1,
    h2,
    h4 {
      margin: 0;
      padding: 0;
    }
    .db-btn {
      display: inline-block;
      padding: 0em 2.8em;
      border-radius: .25em;
      background: transparent;
      outline: 0;
      vertical-align: middle;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
      border: none;
      box-shadow: none;
      font-family: 'Open Sans', sans-serif;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.4px;
      text-align: center;
      width: 50%;
    }
    .db-btn.h48 {
      height: 48px;
    }
    .db-btn.blue {
      background-color: #049bfa;
    }
    .db-btn.blue:hover {
      background-color: #028cf5;
    }
    .db-btn.blue:active {
      background-color: #0260a8;
    }
    .db-btn.round {
      border-radius: 21px;
    }

    .title {
      background-color: #3498DB;
      color: white;
      text-align: center;
      font-family: Jeju Hallasan;
      font-size: 1.5em;
    }

    .notice {
      border-bottom: 1px solid black;
      text-align: center;
    }

    @font-face {
      font-family: 'Jeju Hallasan';
      font-style: normal;
      font-weight: 400;
      src: url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.eot);
      src: url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.eot?#iefix) format('embedded-opentype'),
      url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff) format('woff'),
      url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.ttf) format('truetype');
    }

    .backBtn {
      position: absolute;
      top: 15px;
      left: 10px;
    }

    .logoutBtn{
      position: absolute;
      top: 15px;
      right: 10px;
    }
  </style>
  <script type="text/javascript">
    function change_parent_url(url) {
      document.location = url;
    }

    function writeReview() {
      location.href = writeReviewUrl + '/' + owner_auth;
    }
    setTimeout(function() {
      var trash = document.getElementById('sa-extension-is-installed');
      var body = document.getElementById('body');
      body.removeChild(trash);
      clearTimeout();
    }, 50);

    function setSize(node, isWidth, widthRatio, isHeight, heightRatio) {
      if (isWidth == 1) {
        node.style.width = window.innerWidth * widthRatio + 'px';
      }
      if (isHeight == 1) {
        node.style.height = window.innerHeight1 * heightRatio + 'px';
      }
    }

    function back() {
      var frame = document.getElementById('timelineBigFrame');
      history.back();
    }

    function logout() {
      location.href = '<%=logoutUrl%>';
    }
  </script>
</head>

<body id="body">
  <table>
    <%if(isOwner == 1){%>
    <img class="backBtn" id="backBtn" src="/iconmonstr-arrow-64-24.png" onclick="back();">
    <img class="logoutBtn" id="logoutBtn" src="/iconmonstr-log-out-9-24.png" onclick=location.href='<%=logoutUrl%>'>
    <%}%>
    <tr class="title" style="height: 8%;">
      <td>
        <span onclick=location.href="<%=storeMainUrl%>"><%=store%></span>
      </td>
    </tr>
    <tr style="height : 4%; border-bottom: 1px solid black;">
      <td class="notice">리뷰</td>
    </tr>
    <tr style="height: 1%;">
      <td></td>
    </tr>
    <%if(isOwner == 0){%>
    <tr style="height: 5%;">
      <td>
        <button class="db-btn blue round h48" onclick=location.href='<%=writeReviewUrl%>/<%=owner_auth%>'>리뷰 작성하기</button>
      </td>
    </tr>
    <%}%>
    <tr style="height: auto;">
      <td>
        <iframe src="<%=reviewListContainerUrl%>" frameborder="0" width="100%" height="100%" marginwidth="0" marginheight="0"></iframe>
      </td>
    </tr>
  </table>
</body>

</html>
