<!DOCTYPE html>
<html lang="kr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>writeContent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <style>
    html,
    form,
    tbody,
    body,
    iframe {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    table,
    div {
      width: 100%;
    }

    tr {
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .header {
      text-align: center;
      background-color: #3498DB;
      font-size: 1.5em;
      color: white;
      font-family: Jeju Hallasan;
      height: 8%;
      line-height: 250%;
      text-align: center;
    }

    .backBtn {
      position: absolute;
      top: 15px;
      left: 10px;
    }

    .logoutBtn {
      position: absolute;
      top: 15px;
      right: 10px;
    }

    @font-face {
      font-family: 'Jeju Hallasan';
      font-style: normal;
      font-weight: 400;
      src: url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.eot);
      src: url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.eot?#iefix) format('embedded-opentype'),
      url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff2) format('woff2'),
      url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff) format('woff'),
      url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.ttf) format('truetype');
    }

    .floating-input {
      display: block;
      width: 300px;
      margin: 30px auto;
    }

    .floating-input label {
      position: absolute;
      font-family: Roboto, arial, sans-serif;
      color: #757575;
      font-size: 18px;
      margin-top: -30px;
      transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
      cursor: text;
      margin-left: 0;
      display: block;
    }

    .floating-input input {
      border: none;
      border-bottom: 1px solid #757575;
      outline: none;
      width: 300px;
      padding: 5px 0;
      font-size: 18px;
      transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
      background-color: transparent;
    }

    .floating-input input:valid+label {
      margin-top: -50px;
      font-size: 12px;
      color: #555555;
    }

    .floating-input input:focus {
      border-bottom: 1px solid #2A9AF2;
      box-shadow: 0px 1px 0px 0px #2A9AF2;
    }

    .floating-input input:focus+label {
      margin-top: -50px !important;
      color: #2A9AF2 !important;
      font-size: 12px !important;
    }

    .input-button>input[type="submit"] {
      background-color: #2A9AF2;
      border: none;
      color: #FFFFFF;
      border-radius: 3px;
      width: 100px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
      padding: 10px;
      margin: 0 auto;
      display: block;
      cursor: pointer;
      outline: none;
      transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

    input[type="submit"]:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .input-button {
      width: 100px;
      margin: 0 auto;
      position: relative;
      cursor: pointer;
    }

    .input-button:active {
      transform: translate(0px, 5px);
      -webkit-transform: translate(0px, 5px); //border-bottom: 1px solid;
    }

    .ripple-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .ripple {
      background-color: rgba(255, 255, 255, .6);
      position: absolute;
      z-index: 10;
      border-radius: 100%;
      animation-name: ripple;
      animation-iteration-count: 1;
      animation-duration: .55s;
      width: 10px;
      height: 10px;
      transform: translateX(-50%) translateY(-50%);
      pointer-events: none;
      animation-timing-function: linear;
    }

    @keyframes ripple {
      from {
        width: 0;
        height: 0;
        opacity: 1;
      }
      to {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    }

    .subheader {
      text-align: center;
      border-bottom: 1px solid BLACK;
    }
  </style>
  <script type="text/javascript">
    setTimeout(function() {
      var trash = document.getElementById('sa-extension-is-installed');
      var body = document.getElementById('body');
      //body.removeChild(trash);
      body.removeChild(trash);
      clearTimeout();
    }, 500);
  </script>
</head>

<body id="body">
  <%if(isOwner == 1){%>
  <div class="header">
  <%=contents[0].store%>
  </div>
  <img class="backBtn" id="backBtn" src="/iconmonstr-arrow-64-24.png" onclick="back();">
  <img class="logoutBtn" id="logoutBtn" src="/iconmonstr-log-out-9-24.png" onclick=location.href='<%=logoutUrl%>'>

  <script type="text/javascript">
    function back() {
      var frame = document.getElementById('timelineBigFrame');
      history.back();
    }

    function logout() {
      location.href = '<%=logoutUrl%>';
    }
  </script>
  <%}%>
  <table>
    <tr>
      <td colspan="3">
        <div class="subheader">프로필 편집</div>
      </td>
    </tr>
    <form action="<%=storeProfileUrl%>" method="post">
    <tr>
      <td>
        <div class="floating-input">
          <input required id="store" type="text" name="store" value="<%=contents[0].store%>">
          <label for="name">*가게 이름</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="floating-input">
          <input required id='address1' type="text" name="address1"  value="<%=contents[0].address1%>"/>
          <label for="address1">*시/도</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="floating-input">
          <input required id='address2' type="text" name="address2" value="<%=contents[0].address2%>" />
          <label for="address2">*시/군/구</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="floating-input">
          <input required id='address3' type="text" name="address3" value="<%=contents[0].address3%>" />
          <label for="address3">*읍/면/동</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="floating-input">
          <input id='address4' type="text" name="address4" value="<%=contents[0].address4%>" />
          <label for="address4">상세주소</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="floating-input">
          <input id='tel' type="text" name="tel" value="<%=contents[0].tel%>" />
          <label for="tel">전화번호</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="floating-input">
          <input id='time' type="text" name="time" value="<%=contents[0].time%>" />
          <label for="time">영업시간</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="input-button">
          <input type="submit" value="저장">
        </div>
      </td>
    </tr>
    <tr style="height: 100px;">
      <td></td>
    </tr>
    </form>
  </table>
</body>

</html>
