<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>StoreMainPage</title>
  <style>
    html,
    form,
    tbody,
    body,
    iframe,
    div {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    table {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    td,
    h1,
    h2,
    h4 {
      margin: 0;
      padding: 0;
    }

    p {
      background-color: skyblue;
      text-align: center;
      margin-top: 0;
      padding-bottom: -5px;
    }

    .header {
      text-align: center;
      background-color: #3498DB;
      padding: 5px;
      font-size: 20px;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
    }

    .prof {
      border-bottom: 1px solid skyblue;
      width: 100%;
    }

    #review {
      color: blue;
      background-color: white;
    }

    #follower {
      color: blue;
      background-color: white;
    }

    #plus {
      font-size: 50px;
      color: skyblue;
      position: fixed;
      top: 400px;
      right: 10px;
      -webkit-transform: translateZ(0);
    }

    #sale {
      font-size: 20px;
      position: absolute;
      left: 5px;
      top: 10px;
      color: white;
    }

    .btn {
      font-size: 12px;
      color: white;
      text-align: center;
      line-height: 2em;
      border-radius: 4px;
      background-color: rgb(94, 94, 94);
    }

    tr {
      display: table-row;
    }

    .profileImg {
      height: 25%;
      border: 1px solid gold;
      border-radius: 100px;
    }
  </style>
  <script>
    function setSize(e) {
      e.style.height = window.innerHeight * 0.5 + 'px';
    }
  </script>
</head>

<body>
  <table>
    <tr class="header" style="height: 8%;">
      <th colspan="3" style="text-align: center;">
        <%=contents.store%>
      </th>
    </tr>
    <tr style="height: 25%;">
      <td style="width: 30%; text-align: center;"><img class="profileImg" src="<%=contents.image_url%>" alt="프로필 사진" id='profimage' /></td>
      <td style="width: 70%; text-align: center;">
        <table style="height: 100%;">
          <tr>
            <td>게시물</td>
            <td>팔로워</td>
          </tr>
          <tr>
            <td style="width: 50%">
              <%=contentCount%>
            </td>
            <td style="width: 50%">
              <%=followerCount%>
            </td>
          </tr>
          <tr>
            <td>
              <iframe src="<%=followBtnUrl%>" frameborder="0" marginwidth="0" marginheight="0" style="width: 60px; height: 65px;"></iframe>
            </td>
            <td>
              <button class="btn" onclick=location.href='<%=reviewUrl%>' style="width: 70%; height: 50%;">리뷰</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height: 5%;">
      <td colspan="3">
        <p onclick="hideshow()">프로필</p>
      </td>
    </tr>
    <tr id="profile">
      <td colspan="3" class="prof">
        <!--가게 프로필-->
        주소 :
        <%=contents.address1%>
          <%=contents.address2%>
            <%=contents.address3%>
              <%=contents.address4%> <br> 전화번호 :
                <%=contents.tel%><br> 영업시간:
                  <%=contents.time%><br>
                    <div style="text-align: right ">
                      <button class="btn" onclick=location.href='<%=productUrl%>' style="width: 30%; height: 30%;">판매품목</button>
                    </div>
                    <script>
                      function hideshow() {
                        var x = document.getElementById("profile");
                        if (x.style.display === "none") {
                          x.style.display = "table-row";
                        } else {
                          x.style.display = "none";
                        }
                      }
                    </script>
      </td>
    </tr>
  </table>
  <div style="height: 51%">
    <iframe src="<%=iframeUrl%>" frameborder="0" height="100%" marginwidth="0" marginheight="0" style="height: 100%;"></iframe>
  </div>

</body>

</html>
