<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <style>
    html,
    form,
    tbody,
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    table {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    td {
      margin: 0;
      padding: 0;
    }

    h1,
    h2,
    h3 {
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .title {
      background-color: #3498DB;
      color: #000000;
      text-align: center;
    }
  </style>

</head>

<body>
  <table>
    <tr id="bargains" style="height: 40%;">
      <td>
        <iframe id="bargains" src="<%=iframeUrl%>" frameborder="0" marginwidth="0" marginheight="0" style="height: 40%; width: 100%; border-bottom: 1px solid black;"></iframe>
      </td>
    </tr>
    <%if(contents != null) {
      for(var i = 0; i < contents.length; i++) {%>
      <tr id="store_head" onclick="location.href='<%=storeUrl%>/<%=contents[i].owner_auth%>'">
        <td><img id="store_icon" src="<%=contents[i].image_url%>" style="width: 50px; border: 1px solid gold; border-radius: 100px; -moz-border-radius: 100px; -khtml-border-radius: 100px; -webkit-border-radius: 100px; ">
          <%=contents[i].store%>
        </td>
      </tr>
      <tr id="content ">
        <td><img id="content_img " src="<%=contents[i].url%>" style="width: 100%;"></td>
      </tr>
      <tr id="content_text">
        <td>
            <p> <span style="font-weight: bold;"><%= contents[i].owner_id %></span> <span style="font-size:0.8em"><%= contents[i].content %></span> </p>
            <br>
            <p>게시일: <%= contents[i].date %> </p>
        </td>
      </tr>
      <tr style="height: 50px">
        <td></td>
      </tr>
      <%}
    }
    else {%>
        <tr>
          <td>
            <h2>팔로우 한 가게의 게시글이 없네요</h2>
            <h3>가게를 검색해서 자주가는 가게를 팔로우 해 보세요!</h3>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <h1>↓</h1></td>
        </tr>
        <%}%>
  </table>
</body>

</html>
