<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <style>
    html,
    form,
    table,
    tbody,
    body,
    iframe {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    td,
    h1,
    h2,
    h4 {
      margin: 0;
      padding: 0;
    }

    .title {
      background-color: #e3afed;
      color: #000000;
      text-align: center;
    }
  </style>
  <script>
    function setSize() {
      var bargains = document.getElementById('bargains');
      bargains.style.height = window.innerHeight * 0.16 + 'px';
    }
    window.onload = function() {
      setSize();
      window.addEventListener('resize', setSize);
    }
  </script>
</head>

<body>
  <table>
    <tr id="bargains">
      <td style="border-bottom: 1px solid black;"><iframe src="<%=iframeUrl%>" frameborder="0" marginwidth="0" marginheight="0" style="height: 100%; width: 100%"></iframe></td>
    </tr>
    <%for(var i = 0; i < contents.length; i++){%>
      <tr id="store_head">
        <td><img id="store_icon" src="<%=contents[i].image_url%>" style="height : 50px">
          <%=contents[i].store%>
        </td>
      </tr>
      <tr id="content">
        <td><img id="content_img" src="<%=contents[i].url%>"></td>
      </tr>
      <tr id="content_text">
        <td>
          <span><%=contents[i].content%></span>
        </td>
      </tr>
      <tr style="height: 50px">
        <td></td>
      </tr>
      <%}%>
  </table>
</body>

</html>
