<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="storeinfo.css" type="text/css" rel="stylesheet" />
<meta charset="UTF-8">
<title>FirstPage</title>
</head>
<body>
        <h3>프로필 수정</h3>
	<form action='/changeInfo' method='post'>
		 <table>
                        <tbody>
                                <tr>
                                 <td>
                                        <div class="floating-input2">
                                        <input required id='address1' type="text" name="address1" />
                                        <label for="address1"><%= Info.address1 %></label>
                                        </div>
                                 </td>
                                 <td>
                                        <div class="floating-input2">
                                        <input required id='address2' type="text" name="address2" />
                                        <label for="address2"><%= Info.address2 %></label>
                                        </div>
                                 </td>
                                 <td>
                                        <div class="floating-input2">
                                        <input required id='address3' type="text" name="address3" />
                                        <label for="address3"><%= Info.address3 %></label>
                                        </div>
                                 </td>


                                </tr>
                        </tbody>
                </table>
                <table>
                        <tbody>
                                <tr>
                                 <td>
                                        <div class="floating-input">
                                        <input required id='tel' type="text" name="tel" />
                                        <label for="tel"><%= Info.tel %></label>
                                        </div>
                                 </td>
                                </tr>
                                <tr>
                                 <td>
                                        <div class="floating-input">
                                        <input required id='time' type="text" name="time" />
                                        <label for="time"><%= Info.time  %></label>
                                        </div>
                                 </td>
                                </tr>
                                <tr class="row">
                                 <td>
                                <div class="input-button">
                            <input  type="submit" value="수정 완료" ></button>
                                </div>
                         </td>
                         </tr>
                        </tbody>
                </table>
	</form>
</script>

</body>
</html>
