<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<title>saleDetail</title>
</head>
<body>
	<%= %>
	<%= store_info.store %>
	<%= product_info.product %>
	<%= product_info.price %>
	<%= producct_info.sale %>
</body>
</html>
